# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
.venv
venv/
env/
ENV/
# Flask
instance/
# Uploads folder
uploads/

# Operating System Files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp
*~
